In [1]:
import pandas as pd # for manipulating data frames

In [2]:
data = pd.read_csv('lens_experiment/lens_experiment.csv', sep=';')
data

       Participant  Block  Trial Lens  Magnification        ID  PointingTime
0                1      4      0   FL              6  6.003555          2297
1                1      4      0   FL              6  6.003555          1485
2                1      4      0   FL              6  6.003555          2000
3                1      4      0   FL              6  6.003555          1843
4                1      4      0   FL              6  6.003555          1813
...            ...    ...    ...  ...            ...       ...           ...
11995           10      2      9  SCF              6  6.003555          2313
11996           10      2      9  SCF              6  6.003555          2453
11997           10      2      9  SCF              6  6.003555          2187
11998           10      2      9  SCF              6  6.003555          2875
11999           10      2      9  SCF              6  6.003555          2688

[12000 rows x 7 columns]

In [4]:
data['Participant']

0         1
1         1
2         1
3         1
4         1
         ..
11995    10
11996    10
11997    10
11998    10
11999    10
Name: Participant, Length: 12000, dtype: int64

In [6]:
data.iloc[2]

Participant             1
Block                   4
Trial                   0
Lens                   FL
Magnification           6
ID               6.003555
PointingTime         2000
Name: 2, dtype: object

In [5]:
data.dtypes

Participant        int64
Block              int64
Trial              int64
Lens              object
Magnification      int64
ID               float64
PointingTime       int64
dtype: object